<h1>Show</h1>

<br>
<br>
<strong>id: </strong>
<%= @project.id %>
<br>
<br>
<strong> Title: </strong>
<%= @project.title %>
<br>
<br>
<strong> Abstract: </strong>
<%= @project.abstract %>
<br>
<br>
<strong> Description: </strong>
<%= @project.description %>
<br>
<br>
<strong> Budget: </strong>
<%= @project.budget %>
<br>
<br>
<%= link_to 'Back', projects_path %>
